.background {
    background-image: url("../../assets/LAbackground.jpg");
    background-size: contain;
    min-height: 110vh;
    display: flex;
  }
  
  .title {
    font-weight: bold;
    color: #fff;
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 5%;
  }
  
  .lower-title {
    font-weight: bold;
    color: #000000;
    font-size: 35px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

.background-image{
    opacity: 0.4;
    text-shadow: 1px 1px black;
}
.text-on-image {
    position: absolute;
    bottom: 75%;
    color:whitesmoke
}
.header-1 {
    text-align: center;
    margin: auto;
    padding-top: 2%;
    color: black;
}
