.navbar {
    width: 100%;
    height: 60px;
    background: #ffa07b;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container span{
    margin-left: 80px;
}
.logo-container span{
    font-weight: 500;
    cursor: pointer;
}

.links-container {
    margin-right: 20px;
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

.link a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

.link a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}